{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": 	"User ID = postgres;Password=password;Server=host;Port=5432;Database=db_name;Integrated Security=true; Pooling=true;"
  }
}
